body {
        background-color:grey;
        padding:50px;
        width:100;
       }
     .menu{  
                background-color:pink;
                padding:50px
                width:
        